body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #d0b997;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

li {
  list-style: none;
}
