header {
  background: #2e2b2b;
}

header a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

a:hover {
  color: #c93f3f;
}

li {
  list-style: none;
  font-size: 20px;
  line-height: 30px;
  padding: 10px;
  padding-bottom: 0;
}

ul {
  margin: 15px 0 15px 15px;
  padding: 0;
}

.bar {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 0 6px 6px 20px;
  display: none;
  transition: 0.3s;
}

.header-grid {
  display: flex;
  justify-content: space-between;
  background: #2e2b2b;
}

.hamburger {
  width: 100%;
  height: 65px;
  background: #2e2b2b;
  display: none;
  cursor: pointer;
  padding-top: 35px;
  position: relative;
  z-index: 1;
}

.hamburger-checkbox {
  display: none;
}

.menu {
  background: #2e2b2b;
  color: white;
  width: 600px;
  position: absolute;
  top: -100%;
  transition: all 0.7s ease;
  opacity: 0;
  display: none;
}

.hamburger-checkbox:checked ~ .menu {
  opacity: 1;
  top: 100px;
}

.hamburger-checkbox:checked + .hamburger .bar1 {
  transform: rotate(-45deg) translate(-9px, 6px);
}

.hamburger-checkbox:checked + .hamburger .bar2 {
  opacity: 0;
}

.hamburger-checkbox:checked + .hamburger .bar3 {
  transform: rotate(45deg) translate(-8px, -8px) ;
}

@media (max-width: 600px) {
  .header-grid {
    display: none;
    width: 100%;
  }
  .menu {
    display: block;
  }
  .hamburger {
    display: block;
    width: 20vw;
    height: 20vw;
  }
  .bar {
    display: block;
  }
}

@media (min-width: 601px) and (max-width: 900) {
  .header-grid {
    display: none;
    width: 100%;
  }
  .menu {
    display: block;
  }
  .hamburger {
    display: block;
    width: 20vw;
    height: 20vw;
  }
  .bar {
    display: block;
  }
}
